[Unit]
Description=KilnPi OLED Splash Screen
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/opt/kilnpi/.venv/bin/python /opt/kilnpi/scripts/splash.py
WorkingDirectory=/opt/kilnpi

[Install]
WantedBy=multi-user.target
